[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "plugins/lsp-bridge"]
	path = plugins/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "plugins/copilot.el"]
	path = plugins/copilot.el
	url = https://github.com/copilot-emacs/copilot.el.git
[submodule "plugins/blink-search"]
	path = plugins/blink-search
	url = https://github.com/manateelazycat/blink-search.git
